@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

.tossface {
  font-family: Tossface;
  font-display: fallback;
}

.Pretendard {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-display: fallback;
}

@media (prefers-color-scheme: dark) {
  body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1e1e1e;
  }

  .mainpage {
    background-color: #1e1e1e;
  }

  .mt{
    text-align: center;
    font-family: 'Pretendard Variable';
    font-size: 32px;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 0px 0px 36px #ffffff33;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
  }

  .subt{
    text-align: center;
    font-family: 'Pretendard Variable';
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 2%;
    text-shadow: 0px 0px 36px #ffffff33;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .navback{
    background-color: #282830;
  }
}

@media (prefers-color-scheme: light) {
  body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
  }

  .mainpage {
    background-color: #ffffff;
  }

  .mt{
    text-align: center;
    font-family: 'Pretendard Variable';
    font-size: 32px;
    font-weight: 800;
    color: #1e1e1e;
    text-shadow: 0px 0px 36px #ffffff33;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
  }

  .subt{
    text-align: center;
    font-family: 'Pretendard Variable';
    font-size: 15px;
    font-weight: 500;
    color: #1e1e1e;
    margin-top: 2%;
    text-shadow: 0px 0px 36px #ffffff33;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
  }

  .navback{
    background-color: #fbfbfb;
  }
}

.centerpit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bigmoji{
  text-align: center;
  font-family: 'tossface';
  font-size: 128px;
  text-shadow: 0px 0px 36px #ffc84d44;
}

.hylk {
  text-align: center;
  font-family: 'Pretendard Variable';
  font-size: 12px;
  font-weight: 700;
  color: #466dfa;
  text-shadow: 0px 0px 8px #466dfa55;
}

a:link{
  color: #466dfa;
}

a:visited {
  color: #466dfa;
}

a:hover {
  color: #314db3;
}

a:active{
  color: #466dfa;
}

.navbar{
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 20px 12px;
  border-radius: 10px;
}

.logos{
  margin-left: 12px;
  align-items: center;
  font-family: 'GmarketSans';
}

.logofont{
  font-size: 24px;
  color: #466dfa;
  font-family: 'GmarketSans';
  font-weight: 600;
}

.smallfnt{
  font-size: 14px;
  color: #466dfa88;
  font-family: 'GmarketSans';
  font-weight: 500;
}