@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

.tossface {
  font-family: Tossface;
}

.Pretendard {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-display: fallback;
}

th{
  width: 6rem;
  height: 2.5rem;
}

td{
  width: 6rem;
  height: 3.5rem;
}

.mainpageX {
  display: grid;
  place-content: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .mainpage {
    background-color: #1e1e1e;
  }

  .timeside{
    font-family: 'Pretendard Variable';
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
  }

  .timetop{
    font-family: 'Pretendard Variable';
    font-size: 16px;
    font-weight: 800;
    color: #ffffff;
  }

  .nowtime{
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
  }

  .bd{
    border: 1px solid #ffffff;
    border-spacing: 0px;
  }

  .bottomtime{
    color: #ffffff;
    opacity: 50%;
  }

  .titlex{
    font-family: 'Pretendard Variable';
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .mainpage {
    background-color: #ffffff;
  }

  .timeside{
    font-family: 'Pretendard Variable';
    font-size: 16px;
    font-weight: 800;
    color: #1e1e1e;
    text-align: center;
  }

  .timetop{
    font-family: 'Pretendard Variable';
    font-size: 16px;
    font-weight: 800;
    color: #1e1e1e;
  }

  .nowtime{
    font-family: 'Pretendard Variable';
    font-size: 14px;
    font-weight: 400;
    color: #1e1e1e;
    text-align: center;
  }

  .bd{
    border: 1px solid #1e1e1e;
    border-spacing: 10px;
  }

  .bottomtime{
    color: #000000;
    opacity: 50%;
  }

  .titlex{
    font-family: 'Pretendard Variable';
    font-size: 28px;
    font-weight: 800;
    color: #1e1e1e;
  }
}

.toptimebgx{
  background-color: #466dfa55;
}

.toptime{
  color: #466dfa;
}